/*
   $Id: MusicKit_README.css 3660 2009-12-09 19:50:21Z leighsmith $
   HTML 4.0 CSS declaration for MusicKit web pages.
   Copyright The MusicKit Project. (c) 2005, All Rights Reserved.

   Leigh Smith <leigh@leighsmith.com>
*/

body {
    color: rgb(255, 255, 255);
    background: rgb(68, 38, 67); 
    font-family: Helvetica, sans-serif; 
    font-size: 10pt;
}

A:link { color: rgb(205, 222, 30); } /* for unvisited links */
A:visited { color: rgb(128, 194, 226); } /* for visited links */
A:active { color: rgb(150, 159, 244);  } /* when link is clicked */

div.TOC {
    background: rgb(0, 0, 0);
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    float: right;
    border-style: solid;
    border-colour: rgb(255, 255, 255);
    line-height: 150%;
}

div.SECT1 {
    width: 600px;
    margin: 0 auto;
    float: left;
}

div.ACKNO {
    clear:both;
}

div.NAVFOOTER {
    clear:both;
}
